:root{
  --purple800: #3F0071;
  --pink: #FB2576;
  --blue600: #332FD0;
  --blue700: #0002A1;
  --blue500: #B9F3FC;
  --purple800: #645CBB;
  --purple700: #A084DC;
  --purple600: #BFACE2;
  --purple500: #EBC7E6;
  --black: #000000;
  --blue900: #150050;
  --purple900: #3F0071;
  --pink900: #FB2576;
  --popins: 'Poppins';
  --sofia: 'Sofia Sans Extra Condensed',sans-serif;
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--sofia);

}
body{
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background-image: url(./images/hos1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: var(--popins);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container {
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  
}

input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


